	<%if @posts.any? %>

		<section class='row'>
			<%= render @posts %>
		</section>
		
	<% else %>
		Food Porn Bank Empty
	<% end %>

	<%= link_to new_post_path, class: 'btn btn-lg btn-success' do %>
		<span class='hidden-xs'>Deposit Food Porn</span>
		<span class="glyphicon glyphicon-pencil"></span>

	<% end %>
