<h1>Instachef</h1>
<%if @posts.any? %>
	<% @posts.each do |post| %>
		<h3><%= post.title %></h3>
		<% if post.picture.present? %>
			<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
		<% end %>
	<% end %>
<% else %>
	Food Porn Bank Empty
<% end %>

<button><%= link_to 'Deposit Food Porn', new_post_path %></button>